---
layout: default
title: Main
---

<!-- 
  START of Carousel
-->
{% assign carouselItems = site.carousel | sort: 'order' %}
<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
  
  <!-- Creates the slide indicators at the bottom of the carousel. -->
  <div class="carousel-indicators">
    {% for item in carouselItems %}
      {% assign loopIndex = forloop.index %}
      {% if loopIndex == 1 %}
        <button type="button" data-bs-target="#homeCarousel" 
                data-bs-slide-to="{{ loopIndex | minus: 1 }}" class="active" aria-current="true" 
                aria-label="Slide {{ loopIndex }}"></button>
      {% else %}
        <button type="button" data-bs-target="#homeCarousel" 
                data-bs-slide-to="{{ loopIndex | minus: 1 }}" aria-label="Slide {{ loopIndex }}"></button>
      {% endif %}
    {% endfor %}
  </div>

  <!-- 
    This initializes the carousel slides (which are provided as Markdown files in `_carousel` directory). 
  -->
  <div class="carousel-inner">
    {% assign firstItem = true %}
    {% for item in carouselItems %}
      
      {% if firstItem == true %}
      <div class="carousel-parent carousel-item text-center active">
      {% else %}
      <div class="carousel-parent carousel-item text-center">
      {% endif %}

        <div class="carousel-bg" style="background-image: url('images/carousel/{{ item.image }}');"></div>
        <div class="carousel-content">
          <img src="images/carousel/{{ item.image }}" class="img-fluid carousel-img">
          <div class="carousel-caption d-md-block">
            <h5 class="carousel-text">{{ item.title }}</h5>
            <p class="carousel-text">{{ item.caption }}</p>
          </div>
        </div>
        
      </div>
      {% assign firstItem = false %}
    {% endfor %}
  </div>

  <!-- 
    Next/Previous slide buttons. 
  -->
  <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
<!-- 
  END of Carousel 
-->


<div class="row mt-3">
  <div class="col">
    <p class="lh-base"> The AI-driven cloud classification atlas <a href="https://www.mdpi.com/2072-4292/14/22/5690">
      <strong>AICCA</strong></a> is an AI-generated new cloud dataset that clusters 22 years of ocean satellite images 
      from the Moderate Resolution Imaging Spectroradiometer (MODIS) on NASA's Aqua and Terra 
      instruments&mdash;198 million patches, each roughly 100 km x 100 km (128 x 128 pixels)&mdash;into 42 AI-generated 
      cloud classes. AICCA translates 801 TB of satellite images into 54.2 GB of class labels 
      and cloud top and optical properties, a reduction by a factor of 15,000. The 42 AICCA classes produce meaningful 
      spatiotemporal and physical distinctions and capture a greater variety of cloud types than do the nine
      International Satellite Cloud Climatology Project (ISCCP) categories—for example, multiple textures
      in the stratocumulus decks along the West coasts of North and South America. The AI-generated dataset
      enables data-driven diagnosis of patterns of cloud organization, provides insight into cloud evolution 
      on timescales of hours to decades, and helps democratize climate research by facilitating access to core data.
      Our work is made possible by much-appreciated support from the National Science Foundation, Department of Energy, 
      University of Chicago Data Science Institute, the Argonne Leadership Computing Facility, University of Chicago's 
      Research Computing Center and other sources. 
      AICCA is a product developing by Clouds project with the team from <a href="https://labs.globus.org/">Globus labs</a>,
      <a href="http://www.rdcep.org/">The Center for Robust Decision-making on Climate and Energy Policy (RDCEP)</a>, and
      <a href="https://datascience.uchicago.edu/research/is-climate-change-changing-clouds/">The UChicago Data Science Institute</a>.
    </p>
  </div>
</div>
<hr>